.copyright {
	display: flex;
	justify-content: center;
	background-color: $Footer;
	padding: 20px 0px;

	span {
		color: $White;
		font-weight: 400;
	}
}

@include mobile {
	.copyright{
		text-align: center;
	}
}