body {
	font-family: $noto-font-family;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;

	nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-bottom: 1px solid $LittleGray;

		@include iPad {
			justify-content: center;
			align-items: center;
		}

		.logo {
			text-decoration: none;

			h1 {
				font-size: 20px;
				font-weight: bold;
				color: $Green;
				padding: 24px 45px;
				letter-spacing: 0.3em;
				text-align: center;

				.walking-man-icon {
					padding-right: 5px;
					font-size: 28px;
				}

				span {
					@include mobile {
						display: block;
					}
				}

			}
		}

		.menu {
			display: flex;
			flex-wrap: wrap;

			li {
				padding: 27px 20px;

				@include iPad {
					width: 50%;
				}

				@include mobile {
					width: 100%;
					padding: 15px;
				}

				a {
					font-weight: 400;
					font-size: $h5-font-size;
					color: $Gray;
					text-decoration: none;
					text-align: center;
					/* 下方增加一個偽元素, 藉此做出劃底線的效果, 故在此需要設定相對定位 */
					position: relative;
					display: block;

					&:hover {
						color: $Green;
					}

					&::after {
						/* 偽元素必定要加一個空的內容 */
						content: "";
						position: absolute;
						bottom: -15px;
						left: 0px;
						display: block;
						width: 0%;
						height: 8px;
						background-color: $DeepGreen;
						transition: 0.3s;
					}

					&:hover::after {
						width: 100%;
					}
				}
			}
		}
	}
}