header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	// 因為navbar設為fixed, 故它已脫離正常文件流向, 獨立在另一個圖層上, 因此為了讓主頁面內容不被navbar覆蓋到, 需要設定一定的高度, 故在桌面版解析度時向上推擠80px, 在iPad(含)以下解析度時向上推擠150px
	padding-top: 80px;

	@include tablet {
		padding-top: 100px;
	}

	.intro {
		padding: 82px 0px 57px 0px;
		width: 50%;

		@include mobile {
			width: 100%;
		}

		h2 {
			font-weight: 300;
			font-size: $h1-font-size;
			color: $Black;
			line-height: 1.5;

			.yellow_border {
				border-bottom: 3px solid $Yellow;
			}
		}

		h3 {
			color: $LightGray;
			font-size: $h4-font-size;
			font-weight: 400;
			padding-top: 17px;
			letter-spacing: 0.03em;

			@include iPad {
				font-size: $h5-font-size;
			}

			.taiwan-location-icon {
				color: $Yellow;
				padding-right: 5px;
			}
		}

		@include tablet {
			text-align: center;
			padding: 12px 0px;

			h2 {
				font-size: $h3-font-size;
			}
		}
	}

	.select-category {
		display: flex;
		flex-direction: column;
		padding: 101px 0px 0px 0px;
		width: 40%;

		@include tablet {
			padding: 30px 0px;
			width: 90%;
		}
	}

	/* 因表單元素 (select、input和button)會有瀏覽器預設的樣式, 其中也包含font-family, 因此會覆蓋掉原本繼承自div/body的 font-family設定, 故在此針對元素本身設定font-family即可套用到指定的字型 */
	.category,
	.search-keyword {
		margin: 7px 0px;
		padding: 12px 30px;
		border: 1px solid $White-Gray;
		color: $Green;
		font-size: $h5-font-size;
		/* 此字型源自於index.html的<head>內所引用的字體 */
		font-family: "Noto Sans TC";
		border-radius: 5px;
	}

	.category {
		font-weight: 500;
	}

	.search-keyword {
		font-weight: 400;
	}
}

// 因為只有index有<header>, 其他分頁沒有, 故navbar遮蓋住網頁內容而需要向上推擠的高度, 在index這一頁會跟其它頁將會有所不同, 故在此另外設立一個div命名為".index-container"並客製化其向上推擠高度 (其餘頁面的.container寫在./config/_container.scss內)
.index-container {
  max-width: 1110px;
  margin: 0 auto;

	@include iPad {
		padding: 0px 15px;
  }
	
	.recent-activities,
	.hot-spots,
	.delicious-meal {
		padding-bottom: 36px;

		.location-icon {
			padding-right: 5px;
			color: $Gray;
		}
	}

	.last-activities-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.card {
			background-color: $CardBackground;
			border: 1px solid $LittleGray;
			margin: 1% 0px;
			border-radius: 12px;
			display: flex;
			width: 47%;
			// 將圖片被hover時會放大的效果之超出框框的部分隱藏掉
			overflow: hidden;

			@include tablet {
				width: 100%;
			}

			.container {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				flex-direction: column;
				justify-content: space-between;
				padding: 0px 15px;

				.date {
					display: block;
					color: $LightGray;
					padding-top: 16px;
					font-weight: 400;

					@include mobile {
						font-size: $h6-font-size;
					}
				}

				.title {
					display: block;
					font-size: $h4-font-size;
					line-height: 1.5;
					font-weight: 700;
					color: $Black;
					padding-top: 3px;

					@include tablet {
						font-size: $h6-font-size;
						padding-bottom: 10%;
					}

					@include mobile {
						font-size: $h6-font-size;
					}
				}

				.location {
					padding-bottom: 18px;
					font-weight: 400;
					display: flex;
					justify-content: space-between;

					@include tablet {
						font-size: $h6-font-size;
					}

					a {
						font-weight: 500;
						text-decoration: none;
						color: $DeepGreen;

						&:hover {
							color: $OrangeRed;
						}
					}
				}

			}
		}
	}

	// 首頁內的".hot-spots .list"和".delicious-meal .list"的基礎樣式寫在./SCSS/component/_list_cards.scss內, 該scss與搜尋結果頁的".list .card{...}"共用
}