@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* CSS Reset over */
.container {
  padding-top: 80px;
}

body {
  font-family: "Noto Sans TC";
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.wrap .navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #E5E5E5;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  background-color: #FFFFFF;
  z-index: 2;
}
@media (max-width: 768px) {
  .wrap .navbar {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .wrap .navbar {
    position: fixed;
    padding: 16px 14px;
    border-bottom: 0px;
  }
}
.wrap .navbar .logo {
  text-decoration: none;
}
.wrap .navbar .logo h1 {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  margin: 24px 0px 24px 45px;
  background-image: url(../images/icon/logo-desktop.svg);
  background-repeat: no-repeat;
  width: 240px;
  height: 32px;
}
@media (max-width: 767px) {
  .wrap .navbar .logo h1 {
    background-image: url(../images/icon/logo-mobile.svg);
    width: 118px;
    height: 30px;
  }
}
.wrap .navbar .menu {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .wrap .navbar .menu {
    position: absolute;
    overflow: hidden;
    top: 108px;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    max-height: 0px;
    transition: max-height 1s;
  }
}
.wrap .navbar .menu li {
  padding: 27px 20px;
}
@media (max-width: 768px) {
  .wrap .navbar .menu li {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .wrap .navbar .menu li {
    width: 100%;
    padding: 0px;
    background-color: #FFFFFF;
  }
}
.wrap .navbar .menu li a {
  font-weight: 400;
  font-size: 1.125rem;
  color: #646464;
  text-decoration: none;
  text-align: center;
  /* 下方增加一個偽元素, 藉此做出劃底線的效果, 故在此需要設定相對定位 */
  position: relative;
  display: block;
}
@media (max-width: 767px) {
  .wrap .navbar .menu li a {
    padding: 20px 0px;
  }
}
.wrap .navbar .menu li a:hover {
  color: #6E7D60;
}
@media (max-width: 767px) {
  .wrap .navbar .menu li a:hover {
    background-color: #6E7D60;
    color: #FFFFFF;
  }
}
.wrap .navbar .menu li a::after {
  /* 偽元素必定要加一個空的內容 */
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0px;
  display: block;
  width: 0%;
  height: 8px;
  background-color: #7F977B;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .wrap .navbar .menu li a::after {
    content: none;
  }
}
.wrap .navbar .menu li a:hover::after {
  width: 100%;
}
@media (max-width: 767px) {
  .wrap .navbar .menu li a:hover::after {
    width: 0;
  }
}
.wrap .navbar .mobile-menu-icon {
  display: none;
}
@media (max-width: 767px) {
  .wrap .navbar .mobile-menu-icon {
    display: block;
  }
}
@media (max-width: 767px) {
  .wrap .show-mobile-menu .menu {
    max-height: 400px;
  }
}

.breadcrumb {
  display: flex;
  padding: 60px 0px 40px 50px;
}
.breadcrumb li {
  display: inline;
  font-size: 1rem;
  color: #646464;
}
.breadcrumb li a {
  text-decoration: none;
  color: #6E7D60;
}
.breadcrumb li + li:before {
  padding: 8px;
  content: "/ ";
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .search-bar {
    flex-direction: column;
  }
}
.search-bar .select-category {
  width: 20%;
  padding: 11px 30px;
  margin-right: 15px;
  font-weight: 500;
  font-family: "Noto Sans TC";
  color: #6E7D60;
  font-size: 1rem;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.search-bar .keyword {
  width: 30%;
  margin-right: 15px;
}
.search-bar .keyword input {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  padding: 11px 30px;
  border: 1px solid #E6E6E6;
  background-color: #F9F9F9;
}
@media (max-width: 767px) {
  .search-bar .select-category, .search-bar .keyword, .search-bar .search-button {
    width: 90%;
    margin: 7px 0px;
  }
}

.photo {
  overflow: hidden;
  width: 45%;
}
@media (max-width: 767px) {
  .photo {
    width: 50%;
  }
}
.photo img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo img:hover {
  transform: scale(1.1);
}

.hot-topics .title {
  font-size: 1.75rem;
  color: #1E1E1E;
  font-weight: 300;
  padding: 60px 0px 12px 55px;
}
.hot-topics ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px 120px 30px;
}
@media (max-width: 428px) {
  .hot-topics ul {
    padding: 0px 15px 60px 15px;
  }
}
.hot-topics ul .card {
  width: 25%;
  padding: 6px 15px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 428px) {
  .hot-topics ul .card {
    width: 50%;
    padding: 5px 7px;
  }
}
.hot-topics ul .card .topic-photo {
  overflow: hidden;
  border-radius: 24px;
}
@media (max-width: 428px) {
  .hot-topics ul .card .topic-photo {
    border-radius: 16px;
    text-align: center;
  }
}
.hot-topics ul .card .topic-photo img {
  transition: transform 0.3s;
}
.hot-topics ul .card .topic-photo:hover img {
  transform: scale(1.1);
}
.hot-topics ul .card .subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 1.25rem;
  text-align: center;
}
@media (max-width: 428px) {
  .hot-topics ul .card .subtitle {
    font-size: 1rem;
    font-weight: 700;
  }
}

.list {
  display: flex;
  /* 做出scroll image/card的方式如下 */
}
@media (max-width: 428px) {
  .list {
    display: flex;
    /* 為了要實現scroll image/card的效果, 故將所有"熱門打卡景點"和"一再回訪美食"的元素都各自於同一行顯示, 即不進行元素的換行 */
    white-space: nowrap;
    /* 將超出此容器的內容隱藏起來(overflow-x設為auto, overflow-y設為hidden), 藉此將card的y軸捲軸隱藏起來 */
    overflow: auto hidden;
  }
}
.list .card {
  display: flex;
  flex-direction: column;
  /* 為避免圖片在滑鼠hover時放到1.1倍會造成瀏覽器出現x軸, 故設定margin預留一點空間 */
  margin: 0px 15px;
}
@media (max-width: 428px) {
  .list .card {
    width: 45%;
    align-items: center;
    padding: 12px 0px;
    margin: 12px;
  }
}
.list .card .photo {
  width: 100%;
  border-radius: 20px;
}
.list .card .location {
  padding-top: 6px;
}
.list .name {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .list .name {
    padding-top: 2%;
    font-size: 1rem;
  }
}
@media (max-width: 428px) {
  .list .name {
    /* 限定文字寬度, 使得各卡片大小統一 */
    width: 100px;
    /* 將超出此容器的文字隱藏起來, 且隱藏的文字使用省略號(ellipsis)表示 */
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  background-color: #65895F;
  padding: 20px 0px;
}
.copyright span {
  color: #FFFFFF;
  font-weight: 400;
}

@media (max-width: 428px) {
  .copyright {
    text-align: center;
  }
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 80px;
}
@media (max-width: 767px) {
  header {
    padding-top: 100px;
  }
}

.intro {
  padding: 82px 0px 57px 0px;
}
.intro h2 {
  font-weight: 300;
  font-size: 3rem;
  color: #1E1E1E;
  line-height: 1.5;
}
.intro h2 .yellow_border {
  border-bottom: 3px solid #E0DA48;
}
.intro h3 {
  color: #646464;
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 17px;
  letter-spacing: 0.03em;
}
@media (max-width: 767px) {
  .intro h3 {
    font-size: 1rem;
  }
}
.intro h3 .taiwan-location-icon {
  color: #E0DA48;
  padding-right: 5px;
}
@media (max-width: 767px) {
  .intro {
    text-align: center;
    padding: 12px 0px;
  }
  .intro h2 {
    font-size: 1.75rem;
  }
}

.select-category {
  display: flex;
  flex-direction: column;
  padding: 101px 0px 0px 0px;
  width: 35%;
}
@media (max-width: 767px) {
  .select-category {
    padding-top: 33px;
    width: 90%;
  }
}

/* 因表單元素 (select、input和button)會有瀏覽器預設的樣式, 其中也包含font-family, 因此會覆蓋掉原本繼承自div/body的 font-family設定, 故在此針對元素本身設定font-family即可套用到指定的字型 */
.category,
.search-keyword,
.search-button {
  margin: 7px 0px;
  padding: 12px 30px;
  border: 1px solid #E6E6E6;
  color: #6E7D60;
  font-size: 1.125rem;
  /* 此字型源自於index.html的<head>內所引用的字體 */
  font-family: Noto Sans TC;
  border-radius: 5px;
}

.category {
  font-weight: 500;
}

.search-keyword {
  font-weight: 400;
}

.search-button {
  background-color: #7F977B;
  color: #FFFFFF;
  padding: 8px 24px;
  border: 0px;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 1.5rem;
}
.search-button:hover {
  background-color: #E0DA48;
}
.search-button:active {
  background-color: #FF725E;
}

.index-container {
  max-width: 1110px;
  margin: 0 auto;
}
.index-container .banner {
  position: relative;
  padding: 60px 0px 36px 0px;
}
.index-container .banner .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-container .banner .container .title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.75rem;
  font-weight: 700;
}
@media (max-width: 428px) {
  .index-container .banner .container .title {
    font-size: 1rem;
  }
}
.index-container .banner .container .narrow-button {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.25rem;
  background: none;
  border: none;
  padding-left: 30px;
}
.index-container .banner .container .narrow-button:hover {
  color: #7F977B;
}
.index-container .banner .container .narrow-button:active {
  color: #FF725E;
}
@media (max-width: 428px) {
  .index-container .banner .container .narrow-button {
    display: none;
  }
}
.index-container .banner .container .left-narrow {
  left: 0;
}
.index-container .banner .container .right-narrow {
  right: 0;
}
.index-container .banner,
.index-container .recent-activities,
.index-container .hot-spots,
.index-container .delicious-meal {
  padding-bottom: 36px;
}
.index-container .banner .location-icon,
.index-container .recent-activities .location-icon,
.index-container .hot-spots .location-icon,
.index-container .delicious-meal .location-icon {
  padding-right: 5px;
  color: #646464;
}
.index-container .recent-activities .title,
.index-container .hot-spots .title,
.index-container .delicious-meal .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-container .recent-activities .title h4,
.index-container .hot-spots .title h4,
.index-container .delicious-meal .title h4 {
  font-size: 2.25rem;
  font-weight: 300;
  padding: 0px 0px 12px 0px;
}
@media (max-width: 428px) {
  .index-container .recent-activities .title h4,
  .index-container .hot-spots .title h4,
  .index-container .delicious-meal .title h4 {
    font-size: 1.25rem;
  }
}
.index-container .recent-activities .title a,
.index-container .hot-spots .title a,
.index-container .delicious-meal .title a {
  color: #FF725E;
  text-decoration: none;
  font-weight: bold;
}
.index-container .recent-activities .title a:hover,
.index-container .hot-spots .title a:hover,
.index-container .delicious-meal .title a:hover {
  color: #7F977B;
}
.index-container .recent-activities .last-activities-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index-container .recent-activities .last-activities-list .card {
  background-color: #F9F9F9;
  border: 1px solid #E5E5E5;
  margin: 1% 0px;
  border-radius: 12px;
  display: flex;
  width: 47%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .index-container .recent-activities .last-activities-list .card {
    width: 100%;
  }
}
.index-container .recent-activities .last-activities-list .card .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 15px;
}
.index-container .recent-activities .last-activities-list .card .container .date {
  display: block;
  color: #646464;
  padding-top: 16px;
  font-weight: 400;
}
@media (max-width: 428px) {
  .index-container .recent-activities .last-activities-list .card .container .date {
    font-size: 1rem;
  }
}
.index-container .recent-activities .last-activities-list .card .container .title {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  color: #1E1E1E;
  padding-top: 3px;
}
@media (max-width: 767px) {
  .index-container .recent-activities .last-activities-list .card .container .title {
    font-size: 1rem;
    padding-bottom: 10%;
  }
}
@media (max-width: 428px) {
  .index-container .recent-activities .last-activities-list .card .container .title {
    font-size: 1rem;
  }
}
.index-container .recent-activities .last-activities-list .card .container .location {
  padding-bottom: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .index-container .recent-activities .last-activities-list .card .container .location {
    font-size: 1rem;
  }
}
.index-container .recent-activities .last-activities-list .card .container .location a {
  font-weight: 500;
  text-decoration: none;
  color: #7F977B;
}
.index-container .recent-activities .last-activities-list .card .container .location a:hover {
  color: #FF725E;
}

.result-container {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}
.result-container .title {
  font-size: 2.25rem;
  color: #1E1E1E;
  padding: 60px 6px 12px 55px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 428px) {
  .result-container .title {
    padding: 24px 0px 8px 0px;
  }
}
.result-container .title .result-count {
  padding-left: 6px;
  font-size: 1.125rem;
}
.result-container .title .result-count .count {
  color: #FF725E;
}
.result-container .list {
  margin: 0px 30px 100px 30px;
  flex-wrap: wrap;
}
.result-container .list .card {
  width: 22%;
  margin: 18px 15px;
}
@media (max-width: 768px) {
  .result-container .list .card {
    width: 20%;
  }
}
@media (max-width: 767px) {
  .result-container .list .card {
    width: 26%;
  }
}
@media (max-width: 428px) {
  .result-container .list .card {
    width: 100%;
    padding: 6px 0px;
    margin: 0px;
  }
}
.result-container .result-null {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 85px 0px 130px 0px;
  display: none;
}
.result-container .result-null .null-text {
  font-size: 1.25rem;
  color: #6E7D60;
  text-align: center;
  padding-top: 11px;
  line-height: 1.5;
}
.result-container .result-null .null-text span {
  display: block;
}