// colors
$main-bg: #efeae7;
$brown: #3D1101;
$white: #ffffff;
$black: #000000;
$deep-gray: #4A4A4A;
$gray: #979797;
$middle-gray: #EFE9E7;
$orange: #f56c23;
$google-red: #d64433;
$twitter-blue: #41ABE1;
$facebook-blue: #3a5795;