header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.intro {
	padding: 82px 0px 57px 0px;

	h2 {
		font-weight: 300;
		font-size: $h1-font-size;
		color: $Black;
		line-height: 1.5;

		.yellow_border {
			border-bottom: 3px solid $Yellow;
		}
	}

	h3 {
		color: $LightGray;
		font-size: $h4-font-size;
		font-weight: 400;
		padding-top: 17px;
		letter-spacing: 0.03em;

		.taiwan-location-icon {
			color: $Yellow;
			padding-right: 5px;
		}
	}

	@include tablet {
		text-align: center;
		padding: 12px 0px;

		h2 {
			font-size: $h3-font-size;
		}
	}
}

.select-category {
	display: flex;
	flex-direction: column;
	padding: 101px 0px 0px 0px;
	width: 35%;

	@include tablet {
		padding-top: 33px;
		width: 90%;
	}
}

/* 因表單元素 (select、input和button)會有瀏覽器預設的樣式, 其中也包含font-family, 因此會覆蓋掉原本繼承自div/body的 font-family設定, 故在此針對元素本身設定font-family即可套用到指定的字型 */
.category,
.search-keyword,
.search-button {
	margin: 7px 0px;
	padding: 12px 30px;
	border: 1px solid $White-Gray;
	color: $Green;
	font-size: $h5-font-size;
	/* 此字型源自於index.html的<head>內所引用的字體 */
	font-family: Noto Sans TC;
	border-radius: 5px;
}

.category {
	font-weight: 500;
}

.search-keyword {
	font-weight: 400;
}

.search-button {
	background-color: $DeepGreen;
	color: $White;
	padding: 8px 24px;
	border: 0px;
	border-radius: 6px;
	font-weight: 700;
	letter-spacing: 1.5em;

	&:hover {
		background-color: $Yellow;
	}

	&:active {
		background-color: $OrangeRed;
	}
}

.index-container {
	max-width: 1110px;
	margin: 0 auto;


	.banner {
		position: relative;
		padding: 60px 0px 36px 0px;

		.container {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			.title {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				color: $White;
				font-size: $h3-font-size;
				font-weight: 700;

				@include mobile {
					font-size: $h6-font-size;
				}
			}

			.narrow-button {
				position: absolute;
				top: 0;
				bottom: 0;
				display: flex;
				justify-content: end;
				align-items: center;
				color: $White;
				font-size: $h2-font-size;
				background: none;
				border: none;
				padding-left: 30px;

				&:hover {
					color: $DeepGreen;
				}

				&:active {
					color: $OrangeRed;
				}

				@include mobile {
					display: none;
				}
			}

			.left-narrow {
				left: 0;
			}

			.right-narrow {
				right: 0;
			}
		}
	}

	.banner,
	.recent-activities,
	.hot-spots,
	.delicious-meal {
		padding-bottom: 36px;

		.location-icon {
			padding-right: 5px;
			color: $Gray;
		}
	}

	.recent-activities .title,
	.hot-spots .title,
	.delicious-meal .title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h4 {
			font-size: $h2-font-size;
			font-weight: 300;
			padding: 0px 0px 12px 0px;

			@include mobile {
				font-size: $h4-font-size;
			}
		}

		a {
			color: $OrangeRed;
			text-decoration: none;
			font-weight: bold;

			&:hover {
				color: $DeepGreen;
			}
		}
	}


	// .photo {
	// 	// 將圖片被hover時會放大的效果之超出框框的部分隱藏掉
	// 	overflow: hidden;
	// 	width: 45%;

	// 	@include tablet {
	// 		width: 50%;
	// 	}

	// 	img {
	// 		transition: transform 0.3s ease-in-out;
	// 		width: 100%;
	// 		height: 100%;
	// 		object-fit: cover;

	// 		&:hover {
	// 			transform: scale(1.1);
	// 		}
	// 	}
	// }

	.recent-activities .list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.card {
			background-color: $CardBackground;
			border: 1px solid $LittleGray;
			margin: 1% 0px;
			border-radius: 12px;
			display: flex;
			width: 47%;
			// 將圖片被hover時會放大的效果之超出框框的部分隱藏掉
			overflow: hidden;

			@include tablet {
				width: 100%;
			}

			.container {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				flex-direction: column;
				justify-content: space-between;
				padding: 0px 15px;

				.date {
					display: block;
					color: $LightGray;
					padding-top: 16px;
					font-weight: 400;

					@include mobile {
						font-size: $h6-font-size;
					}
				}

				.title {
					display: block;
					font-size: $h4-font-size;
					line-height: 1.5;
					font-weight: 700;
					color: $Black;
					padding-top: 3px;

					@include tablet {
						font-size: $h6-font-size;
						padding-bottom: 10%;
					}

					@include mobile {
						font-size: $h6-font-size;
					}
				}

				.location {
					padding-bottom: 18px;
					font-weight: 400;
					display: flex;
					justify-content: space-between;

					@include tablet {
						font-size: $h6-font-size;
					}

					a {
						font-weight: 500;
						text-decoration: none;
						color: $DeepGreen;

						&:hover {
							color: $OrangeRed;
						}
					}
				}

			}
		}
	}

	.hot-spots .list,
	.delicious-meal .list {
		display: flex;

		/* 做出scroll image/card的方式如下 */
		@include mobile {
			display: flex;
			/* 為了要實現scroll image/card的效果, 故將所有"熱門打卡景點"和"一再回訪美食"的元素都各自於同一行顯示, 即不進行元素的換行 */
			white-space: nowrap;
			/* 將超出此容器的內容隱藏起來(overflow-x設為auto, overflow-y設為hidden), 藉此將card的y軸捲軸隱藏起來 */
			overflow: auto hidden;
		}

		.card {
			display: flex;
			flex-direction: column;
			/* 為避免圖片在滑鼠hover時放到1.1倍會造成瀏覽器出現x軸, 故設定margin預留一點空間 */
			margin: 0px 15px;

			@include mobile {
				width: 45%;
				align-items: center;
				padding: 12px 0px;
				margin: 12px;
			}

			.photo {
				width: 100%;
				// UI稿的圖片本身自己已有border-radius效果, 故為了放大時不要出現邊緣的直角, 此處也需要設定border-radius效果
				border-radius: 20px;
			}

			.location {
				padding-top: 6px;
			}
		}

		.name {
			font-size: $h4-font-size;
			line-height: 1.5;
			font-weight: 700;
			padding-top: 10px;

			@include tablet {
				padding-top: 2%;
				font-size: $h6-font-size;
				text-align: center;
			}

			@include mobile {
				/* 限定文字寬度, 使得各卡片大小統一 */
				width: 100px;
				/* 將超出此容器的文字隱藏起來, 且隱藏的文字使用省略號(ellipsis)表示 */
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}