.footer {
  display: flex;
  justify-content: space-between;
  color: $brown;
  padding: 50px 40px;

  @include tablet {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
  }

  .about-contact {
    display: flex;
    width: 70%;

    @include tablet {
      flex-direction: column;
      width: 100%;
    }

    .about,
    .contact {
      line-height: 1.5rem;
      padding-bottom: 30px;

      @include iPad {
        padding: 0px 30px 30px 0px;
      }

      @include tablet {
        padding: 0px 0px 30px 0px;
      }

      .title {
        font-size: $h2-font-size;
        padding-bottom: 1rem;
      }
    }

    .about {
      padding-right: 60px;

      @include iPad {
        padding-right: 0px;
      }
    }

    .contact {
      .info {
        list-style-type: disc;
        margin-left: 20px;
        // 透過下方實現文字超出容器寬度時, 將會自動斷行的效果
        overflow-wrap: break-word;

        li a {
          text-decoration: none;
          color: $brown;
        }
      }
    }
  }

  .brand-social {
    width: 30%;

    .title {
      font-weight: bold;
      text-align: right;
    }

    .social-media {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 20px;

      @include tablet {
        justify-content: flex-start;
      }

      .google-plus,
      .twitter,
      .facebook {
        border-radius: 4px;
        margin: 0px 5px;
      }

      .google-plus {
        color: $google-red;
        font-size: $h1-font-size;
      }

      .twitter {
        background-color: $twitter-blue;
        padding: 6px;
        color: $white;
        font-size: $h3-font-size;
      }

      .facebook {
        color: $facebook-blue;
        font-size: $h1-font-size;
      }
    }
  }
}